.product-card {
	position: relative;
	border-radius: var(--radius-xl);
	box-shadow: var(--shadow-md);
	display: grid;
	background-color: var(--color-white);
	grid-template-rows: 1fr auto auto;
	width: 100%;
	border: 1px solid var(--color-gray-divider);
	overflow: hidden;
}

.product-card:hover {
	box-shadow: var(--shadow-lg);
}

.product-image {
	border-radius: var(--radius-lg);
	padding: var(--spacing-6);
	display: flex;
	margin: var(--spacing-2);
	justify-content: center;
	align-items: center;
	box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.051);
	aspect-ratio: 1;
}

.product-image img {
	width: 100%;
	height: 100%;
	max-width: 180px;
	max-height: 180px;
	object-fit: contain;
}

.product-info {
	display: grid;
	grid-template-rows: minmax(0, auto) 1fr;
}

.product-info.blurred-info {
	filter: blur(10px);
	pointer-events: none;
}

.rating {
	display: flex;
	align-items: center;
	gap: var(--spacing-2);
	margin: var(--spacing-2);
}

.stars {
	color: var(--color-primary);
	letter-spacing: 2px;
}

.rating-count {
	color: var(--color-primary);
	font-weight: 600;
}

.product-title {
	display: flex;
	flex-direction: column;
	gap: 4px;
	color: var(--color-gray-500);
	margin: 0 var(--spacing-2);
}

.product-title h3 {
	font-size: var(--font-size-sm);
	font-weight: 500;
	margin: 0;
}

.product-title h2 {
	font-size: var(--font-size-base);
	font-weight: 500;
	margin: 0;
}

.strength {
	font-size: var(--font-size-sm);
	margin: 0;
}

.price-container {
	display: flex;
	align-items: center;
	padding: var(--spacing-2);
	margin-top: var(--spacing-2);
	justify-content: space-between;
	border-top: 1px solid var(--color-gray-divider);
	background-color: var(--color-gray-light);
}

.pack-selector {
	display: flex;
	justify-content: space-between;
}

.pack-selector.active {
	border-color: var(--color-primary);
}

.pack-label {
	color: var(--color-gray-900);
}

.price-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.price {
	font-size: var(--font-size-lg);
	font-weight: 600;
	color: var(--color-gray-900);
}

.price-per-piece {
	color: var(--color-gray-500);
	font-size: var(--font-size-sm);
}

.add-to-cart,
.add-to-cart-mobile {
	background-color: var(--color-primary);
	color: var(--color-white);
	border: none;
	border-bottom-left-radius: var(--radius-xl);
	border-bottom-right-radius: var(--radius-xl);
	padding: 0;
	height: var(--button-height);
	font-weight: 600;
	cursor: pointer;
	transition: background-color 0.2s;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.add-to-cart:hover {
	background-color: var(--color-primary-hover);
}

.add-to-cart.added {
	background-color: var(--color-success);
}

.button-content {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-2);
	height: 100%;
}

.pack-dialog {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: var(--color-white);
	border-top-left-radius: var(--radius-lg);
	border-top-right-radius: var(--radius-lg);
	box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
	transform: translateY(100%);
	transition: transform 0.3s ease-in-out;
	z-index: 1;
	display: flex;
	flex-direction: column;
}

.pack-dialog.active {
	transform: translateY(0);
	background-color: var(--color-gray-light);
	border: 1px solid var(--color-gray-divider);
	border-radius: var(--radius-lg) var(--radius-lg) 0 0;
	bottom: var(--button-height);
	box-sizing: border-box;
	display: block;
	left: 0;
	max-height: calc(100% - var(--button-height));
	overflow: auto;
	padding: var(--spacing-2);
	position: absolute;
	scrollbar-width: none;
	visibility: visible;
	width: 100%;
	z-index: 10;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.7);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease;
	z-index: 5;
}

.pack-options {
	overflow-y: auto;
	flex: 1;
	margin-top: var(--spacing-1);
	background: var(--color-white);
}

.pack-option {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--spacing-4);
	background: var(--color-white);
	cursor: pointer;
	transition: all 0.2s ease;
	border-bottom: 1px solid #ececed;
}

.pack-option:last-child {
	border-bottom: none;
}

.pack-option-size {
	font-size: var(--font-size-xsm);
	font-weight: 500;
}

.pack-price {
	font-size: var(--font-size-xsm);
	font-weight: 600;
}

.pack-option-price {
	font-size: var(--font-size-xsm);
	color: var(--color-gray-500);
}

.pack-option.selected {
	background-color: #ececed;
	border-bottom: none;
	outline: 1px solid #ececed;
	position: relative;
	z-index: 1;
}

.pack-option.selected .pack-option-price {
	opacity: 0.8;
}

.pack-dialog-header {
	padding: var(--spacing-4);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pack-dialog-title {
	font-size: var(--font-size-xsm);
	font-weight: 600;
	display: flex;
	align-items: center;
	gap: var(--spacing-2);
	justify-content: center;
	width: 100%;
}

.pack-dialog-close {
	background: none;
	border: none;
	padding: var(--spacing-1);
	cursor: pointer;
	color: var(--color-gray-500);
	display: flex;
	align-items: center;
	justify-content: center;
}

.checkbox-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.checkbox {
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fbfbfb;
	border: 1px solid var(--color-gray-divider);
	border-radius: 50%;
	height: 20px;
	position: relative;
	width: 20px;
}

.pack-dialog-subtitle {
	font-weight: 600;
	padding: var(--spacing-4) var(--spacing-4) var(--spacing-2);
	color: var(--color-gray-900);
}

@media (max-width: 1200px) {
	.product-image img {
		max-width: 160px;
		max-height: 160px;
	}
}

@media (max-width: 480px) {
	.app-container {
		padding: 0.5rem;
	}
	.product-image img {
		max-width: 140px;
		max-height: 140px;
	}

	.price-container {
		font-size: var(--font-size-xsm);
	}

	.price-container .price {
		font-size: var(--font-size-xsm);
	}

	.price-container .price-per-piece {
		font-size: var(--font-size-xsm);
	}
}

@media (min-width: 1129px) {
	.product-info {
		grid-column: 1 / span 2;
		grid-gap: 10px;
		grid-template-columns: 1fr 1fr;
	}
	.product-card {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr auto auto;
	}
	.price-container {
		grid-column: span 2;
		grid-row: 2;
	}
	.add-to-cart {
		grid-column: span 2;
		grid-row: 3;
	}
}

@media (min-width: 768px) {
	.pack-dialog-close {
		display: none;
	}
	.add-to-cart-mobile {
		display: none;
	}
}

@media (max-width: 768px) {
	.product-info.blurred-info {
		filter: none;
	}
	.product-image img {
		max-width: 140px;
		max-height: 140px;
	}

	body.dialog-open {
		overflow: hidden;
	}

	.overlay.active {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.5);
		opacity: 1;
		visibility: visible;
		z-index: 999;
	}

	.pack-dialog {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		max-height: 80vh;
		transform: translateY(100%);
		z-index: 1000;
		border-radius: var(--radius-lg) var(--radius-lg) 0 0;
		transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	}

	.pack-dialog.active {
		transform: translateY(0);
		position: fixed;
		bottom: 0;
		max-height: 80vh;
		overflow: auto;
		background: var(--color-white);
		z-index: 1000;
	}

	.pack-dialog-header {
		position: sticky;
		top: 0;
		background: var(--color-white);
		z-index: 2;
	}

	.pack-options {
		max-height: calc(80vh - 180px);
		overflow-y: auto;
	}

	.pack-dialog .add-to-cart-mobile {
		margin: var(--spacing-4);
		border-radius: var(--radius-lg);
		position: sticky;
		bottom: var(--spacing-4);
		width: 100%;
		z-index: 2;
	}
}
